@model payroll_app.Models.repository.Shift

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Shift</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShiftCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShiftName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftTimeIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShiftTimeIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftTimeOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShiftTimeOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeSpanz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeSpanz)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ShiftId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
