@model payroll_app.Models.repository.WorkerType

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>WorkerType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkerTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkerTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkerTypeCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkerTypeCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrangeOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrangeOrder)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WorkerTypeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
